.app{

  width: 90%;
  height: 100%; 
  margin:auto;
}

h2{

  border-radius: 20px 20px 0 0;;
  width: 100%;
  height: 7vh;
  padding-top:5%;
  margin : auto;
  text-align: center;
  background-color: mediumpurple;
  color:white
}

.search{
  height: 8vh;
  width:100%;
  background-color:rgb(235, 232, 232);
  text-align: center;

}
.searchInput{
  width: 70%;
  border:1px solid mediumpurple;
  border-radius: 15px;
  height:30px;
  margin-top: 15px;
  font-size:1rem;
 
}